

	
/* CSS for form Project */
* {
	box-sizing: border-box;
	background-color:;
}

main{
	width: 85%;
	margin: 0 auto 0 auto;
	max-width: 55em;
	background-color: #FFFFFF;
}
label{
	display: block;
	margin: 1em 0 0 0;
	height: 1em;

}

body{
	font-family: Arial, sans-serif;
	background: #425775;
		
}
header {
	background: #FFFFFF;
	padding: 1em;

}
h2 {
	color: #425775;
	font-weight: bold;
	padding: .25em;
	font-weight: normal;
	font-size: 2.5em;
}
fieldset {
	float: center;
	background-color: 425775;
	display: inline-block;
	vertical-align: top;
	border: none;
	padding: 2em;
	border-color: #FFFFFF;

}


/*input[type="text"], [type="email"], textarea{
	margin: 0.25em 0;
	padding: 0.25em;
	font-weight: ;
	text-align: left;
	border-radius: 0.3em;
	background-color: #FFFFFF;
	color: #002F2F;
}*/
input[type="text"], input[type="email"] {
	/*margin-bottom: .8em;
	font-size: .9em;*/
	border: 2px solid rgb(89, 78, 168, 0);
	background-color: rgb(249, 228, 130);
	width: 318px;
	padding: .5em;
	font-size: 1em;
	color: #425775;
	/* new */
	-webkit-transition: background-color .75s ease;
	-moz-transition: background-color .75s ease;
	-o-transition: background-color .75s ease;
	transition: background-color .75s ease;
}

input:hover {
	color:#425775;
	background-color: ;
	border: 2px solid rgb(89, 78, 168);
	
	/* new */
	-moz-transition: background-color .75s ease;
	-o-transition: background-color .75s ease;
	-webkit-transition: background-color .75s ease;
	transition: background-color .75s ease;
}
input:focus {
	border: 2px, #FFFFFF;
	/* new */
	background-color: rgba(106, 106, 206, 1);
	color: #fff;
	outline:none;
		-moz-transition: background-color .75s ease;
	-o-transition: background-color .75s ease;
	-webkit-transition: background-color .75s ease;
	transition: background-color .75s ease;
}
input[type="submit"] {
	float: center !important;
	border: 1em;
	border-radius: 1em;
	background: #6DB566;
	color: #332B75;
	padding: .2em .4em;
	cursor: pointer;
  	display: inline-block;
  	font-size: 1.6em;
  	font-weight: ;
  	background: -moz-linear-gradient(top,  rgba(143,200,0,1) 0%, rgba(102,142,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(102,142,0,1)));
	background: -webkit-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	background: linear-gradient(top,  rgba(143,200,0,1) 0%,rgba(102,142,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#668e00',GradientType=0 );
  	-moz-transition: background-color .25s ease;
	-o-transition: background-color .25s ease;
	-webkit-transition: background-color .25s ease;
	transition: background-color .25s ease;

}

input[type="submit"]:hover {
	background: -moz-linear-gradient(top,  rgba(102,142,0,1) 0%, rgba(143,200,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,142,0,1)), color-stop(100%,rgba(143,200,0,1)));
	background: -webkit-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	background: linear-gradient(top,  rgba(102,142,0,1) 0%,rgba(143,200,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );
	-moz-transition: background-color .25s ease;
	-o-transition: background-color .25s ease;
	-webkit-transition: background-color .25s ease;
	transition: background-color .25s ease;
}
input[type="submit"]:focus {
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	background: -moz-linear-gradient(top,  rgba(102,142,0,1) 100%, rgba(143,200,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(102,142,0,1)), color-stop(100%,rgba(143,200,0,1)));
	background: -webkit-linear-gradient(top,  rgba(102,142,0,1) 100%,rgba(143,200,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(102,142,0,1) 100%,rgba(143,200,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(102,142,0,1) 100%,rgba(143,200,0,1) 100%);
	background: linear-gradient(top,  rgba(102,142,0,1) 100%,rgba(143,200,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668e00', endColorstr='#8fc800',GradientType=0 );

}

input:-webkit-input-placeholder {
    color: #425775;
}
input:focus:-webkit-input-placeholder {
    color: #F7E967;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #425775;
}
input:focus:-moz-placeholder {
    color: #F7E967;
}

/* Firefox > 19 */
input:-moz-placeholder {
    color: #425775;
}
input:focus:-moz-placeholder {
    color: #F7E967;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #425775;
}
input:focus:-ms-input-placeholder {
    color: #F7E967;
}

/* Large checkboxes */

/*input[type="checkbox"] {
        width: 0;
        height: 0;
        display: none;
        opacity: 0;
}
input[type="checkbox"] {
    height:22px;
    width: 22px;
    
     position: absolute;
                display: inline-block;
                bottom: 1px;
                left: 0;
                width: 13px;
                height: 13px;
                border: 2px solid $color-default;
                color: $color-default;
}

input[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:after{
    top: -20px;
    width: 16px;
    height: 16px;
}
/* Custom checkbox */
/*input[type="checkbox"]:checked:after{
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGHRFWHRBdXRob3IAbWluZWNyYWZ0aW5mby5jb23fZidLAAAAk0lEQVQ4y2P4//8/AyUYwcAD+OzN/oMwshjRBoA0Gr8+DcbIhhBlAEyz+qZZ/7WPryHNAGTNMOxpJvo/w0/uP0kGgGwGaZbrKgfTGnLc/0nyAgiDbEY2BCRGdCDCnA2yGeYVog0Aae5MV4c7Gzk6CRqAbDM2w/EaQEgzXgPQnU2SAcTYjNMAYm3GaQCxNuM0gFwMAPUKd8XyBVDcAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%,#FFF 100%);
}
input[type="checkbox"]:not(:disabled):checked:hover:after{
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGHRFWHRBdXRob3IAbWluZWNyYWZ0aW5mby5jb23fZidLAAAAk0lEQVQ4y2P4//8/AyUYwcAD+OzN/oMwshjRBoA0Gr8+DcbIhhBlAEyz+qZZ/7WPryHNAGTNMOxpJvo/w0/uP0kGgGwGaZbrKgfTGnLc/0nyAgiDbEY2BCRGdCDCnA2yGeYVog0Aae5MV4c7Gzk6CRqAbDM2w/EaQEgzXgPQnU2SAcTYjNMAYm3GaQCxNuM0gFwMAPUKd8XyBVDcAAAAAElFTkSuQmCC'), linear-gradient(135deg, #8BB0C2 0%,#FFF 100%);
}*/

.checkoutButton{
	float:center;
	position: relative;
	margin: 0em 3em 5em 3em;
	
}
